testdata/largefiles/ns_att_test.xml filter=lfs diff=lfs merge=lfs -text
testdata/largefiles/recset.xml filter=lfs diff=lfs merge=lfs -text
testdata/largefiles/wordnet_glossary-20010201.rdf filter=lfs diff=lfs merge=lfs -text
